<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recetas App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>   <!--barra de navegación utilizando Bootstrap,de fondo claro y texto oscuro -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">   <!--contenedor fluido para que la barra de navegacion se ajuste al ancho de la pantalla -->
            <a class="navbar-brand" href="{% url 'recetas' %}">Recetas </a><!--enlace que redirige a la vista principal de recetas -->
             <!--boton de "hamburguesa" que se muestra en pantallas pequeñas para colapsar el menu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span><!--icono de hamburguesa para el menu colapsable -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">  <!--contenedor colapsable para los enlaces de navegacion -->
                <ul class="navbar-nav ms-auto"><!--lista de elementos de navegación alineados a la derecha--clase ms-auto (margen izquierdo automático) -->
                    {% block navbar %} <!--bloque que permite incluir contenido dinámico en la barra de navegacion, definido en las vistas -->
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
      <!--contenedor principal con margen superior de 4 unidades (mt-4) para crear separacion con la barra de navegacion -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
     <!--script de Bootstrap para habilitar la funcionalidad de los componentes interactivos como el menú desplegable -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>