{% extends 'recetas/base.html' %} <!--extiende la plantilla base para reutilizar la estructura y estilo general -->

{% block title %}Registrarse - Recetas App{% endblock %} <!-- título  para la página de registro -->

{% block content %}
<div class="container"> <!--contenedor para centrar el contenido en la pagina -->
    <h2>Registrarse</h2> <!--titulo para la sección de registro -->
    <form method="post"><!--formulario para enviar datos de registro usando método POST -->
        {% csrf_token %} <!--token de protección CSRF para el formulario -->
        {{ form.as_p }} <!--renderiza el formulario de registro como parrafos -->
        <button type="submit" class="btn btn-primary">Registrarse</button> <!-- boto de envío del formulario -->
    </form>
</div>
{% endblock %}
